:root {
  --card-width: 400px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.801);
}

.containerCard {
  max-width: 1320px;
  display: flex;
  justify-content: center;
  background: url(../img/bg/bgContainer.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  margin: 0 auto;
}

.userCard {
  max-width: var(--card-width);
  background: #fff;
  margin: 100px 20px;
  border-radius: 20px;
}

.cardHeader > img {
  z-index: 1;
  position: relative;
  top: -244px;
  width: calc(0.4 * var(--card-width));
  height: calc(0.4 * var(--card-width));
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #521261;
}

.circle {
  position: relative;
  top: -80px;
}

.circle::before {
  display: block;
  margin: auto;
  content: "";
  width: calc(0.42 * var(--card-width));
  height: calc(0.42 * var(--card-width));
  background-color: #fff;
  border-radius: 50%;
}

.followersPhoto > a > img {
  width: calc(0.15 * var(--card-width));
  height: calc(0.15 * var(--card-width));
  border-radius: 50%;
  object-fit: cover;
}

h1 {
  margin-top: -230px;
}
